<h1>Pages#dashboard</h1>
<p>Find me in app/views/pages/dashboard.html.erb</p>

<h3>管理しているユーザー</h3>
<% current_user.following.each do |user| %>
  <p>
    <%= link_to user, user_meals_path(user_name: user.username) %>
  </p>
<% end %>
