<h1>ダッシュボード</h1>

<h3>管理しているユーザー</h3>

<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>最終更新</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.following.each do |user| %>
      <tr>
        <td class="align-middle"><%= link_to user, user_meals_path(user_name: user.username) %></td>
        <td>
          <%= image_tag user.meals.last&.img&.url || "" %>
          <%= user.meals.last&.created_at&.to_s(:human) || "-----" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
