<% breadcrumb :meals, @user %>

<h1><%= @user.profile.nickname %>様の食事</h1>

<%= month_calendar(events: @meals, attribute: :created_at) do |date, meals| %>
  <% if meals.present? %>
    <%= link_to date.strftime("%d"), URI.unescape(user_meal_path(date: show_date(date))) %>
  <% else %>
    <%= date.strftime("%d") %>
  <% end %>
<% end %>
