<h1><%= @user&.profile&.nickname || "全員" %></h1>

<%= month_calendar(events: @meals, attribute: :created_at) do |date, meals| %>
  <%= date.strftime("%d") %>

  <% meals.each do |meal| %>
    <div>
      <%= link_to meal.created_at.strftime("%H:%M"), meal_path(meal) %>
    </div>
  <% end %>
<% end %>
